{#
NotePaper v1.4.1-testing
http://development.sjmcdougall.com/pico-themes/NotePaper
http://github.com/smcdougall/NotePaper
#}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

	{# Metadata #}
	<meta charset="utf-8">
	<title>{% if meta.title and not (is_front_page and config.NotePaper.front_page.enabled) %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
	{% if meta.description %}<meta name="description" content="{{ meta.description }}">{% endif %}
	{% if meta.robots %}<meta name="robots" content="{{ meta.robots }}">{% endif %}

	{# Styles #}
	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro%7CForum%7CKalam:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css">
	{% if config.NotePaper.css_override and not meta.theme %}
		<link rel="stylesheet" href="{{ base_url }}/{{ config.NotePaper.css_override }}/override.css" type="text/css">
	{% elseif meta.theme and meta.theme != "default" %}
		<link rel="stylesheet" href="{{ base_url }}/{{ meta.theme }}/override.css" type="text/css">
	{% endif %}

	<script src="{{ theme_url }}/scripts/modernizr.js"></script>

	{# Open Graph #}
	<meta property="og:url" content="{{ current_page.url }}">
	<meta property="og:site_name" content="{{ site_title }}">
	{% if meta.title %}<meta property="og:title" content="{{ meta.title }}">{% endif %}
	{% if meta.description %}<meta property="og:description" content="{{ meta.description }}">{% endif %}
	{% if config.NotePaper.og_image %}<meta property="og:image" content="{{ base_url }}/{{ config.NotePaper.og_image }}">{% endif %}

	{# Facebook Coments Administration #}
	{% if config.NotePaper.comments.type == "facebook" %}
		{% if config.NotePaper.comments.admin_type == "user" %}
			{% if config.NotePaper.comments.admin_id is iterable %}
				{% for users in config.NotePaper.comments.admin_id %}
					<meta property="fb:admins" content="{{ users }}">
				{% endfor %}
			{% else %}
			<meta property="fb:admins" content="{{ config.NotePaper.comments.admin_id }}">
			{% endif %}
		{% elseif config.NotePaper.comments.admin_type == "app" %}
			<meta property="fb:app_id" content="{{ config.NotePaper.comments.admin_id }}">
		{% endif %}
		<noscript><style>.fb-comments:before {content: 'Please enable JavaScript to view the Facebook Comments.';} .fb-comments {text-align: center;}</style></noscript>
	{% endif %}

</head>
<body>
	<header class="site_title">
		<h1>
			<a href="{{ base_url }}">
				{% if config.NotePaper.site_logo %}
					<img src="{{ base_url }}/{{ config.NotePaper.site_logo }}" alt="{{ site_title }}">
				{% else %}
					{{ site_title }}
				{% endif %}
			</a>
		</h1>
	</header>
	<main>

		{# Widgets Sidebar #}

		{# Navigation #}
		<section class="widgets">
			{% if not config.NotePaper.toc.disabled %}
				<nav>
					{% if config.NotePaper.toc.text %}<h2>{{ config.NotePaper.toc.text }}</h2>{% endif %}
					<ul>
						{% for page in pages if not page.meta.widget and not page.meta.blog and not (config.NotePaper.front_page.enabled and page.id == "index") %}
							<li>
								<a {% if page.id == current_page.id %}class="current_page"{% endif %} href="{{ page.url }}">{{ page.title }}</a>
								{# meta.toc processing code #}
								{% if page.id == current_page.id and page.meta.toc %}
									<ul>
										{% for anchor, name in page.meta.toc %}
											<li>
												{% if name._title %}
													<a href="#{{ anchor }}">{{ name._title }}</a>
													<ul>
														{% for sub_anchor, sub_name in name if sub_anchor != "_title" %}
															<li><a href="#{{ sub_anchor }}">{{ sub_name }}</a></li>
														{% endfor %}
													</ul>
												{% else %}
													<a href="#{{ anchor }}">{{ name }}</a>
												{% endif %}
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</nav>
			{% else %}
				{% set sticky_num = 1 %}
			{% endif %}

			{# Widgets #}
			{% for page in pages if page.meta.widget and page.meta.widget != "Disabled" %}
				{% if page.meta.widget == "Sticky" %}{% set sticky_num = sticky_num + 1 %}{% endif %}
				<nav class="{% if page.meta.widget == "Sticky" and sticky_num is odd %}odd {% endif %}{% if page.meta.widget == "Doodle" %}doodle{% endif %}">
					{{ page.id|content }}
				</nav>
			{% endfor %}
		</section>

		{# Content Rendering #}

		{# Pagination Math #}
		{% if is_front_page and (config.NotePaper.front_page.enabled or TwigGetUrl.search) %}

			{# Page Count #}
			{% set total_pages = '' %}
			{% for page in pages if not page.meta.widget and not (config.NotePaper.front_page.enabled and page.id == "index") and (not TwigGetUrl.search or TwigGetUrl.search and (TwigGetUrl.search|lower in page.title|lower or TwigGetUrl.search|lower in page.description|lower or TwigGetUrl.search|lower in page.id|content|lower)) %}
				{% set total_pages = (loop.index / config.NotePaper.front_page.limit)|round(0,'ceil') %}
			{% endfor %}

			{# Out of Bounds Check #}
			{% if TwigGetUrl.page not in range(2, total_pages) %}
				{% set TwigGetUrl = TwigGetUrl|merge({page: ''}) %}
			{% endif %}

			{# Page Offset #}
			{% if TwigGetUrl.page > 0 %}
				{% set offset = config.NotePaper.front_page.limit * (TwigGetUrl.page - 1) %}
			{% else %}
				{% set offset = 0 %}
			{% endif %}
		{% endif %}

		{# Search Math #}
		{% if TwigGetUrl.search %}
			{% set numresults = '' %}
			{% for page in pages if not page.meta.widget and not (config.NotePaper.front_page.enabled and page.id == "index") and (TwigGetUrl.search|lower in page.title|lower or TwigGetUrl.search|lower in page.description|lower or TwigGetUrl.search|lower in page.id|content|lower)  %}
				{% set numresults = loop.index %}
			{% endfor %}
		{% endif %}

		{# Loop #}
		{% for page in pages if not regularpage and not page.meta.widget and not (config.NotePaper.front_page.enabled and page.id == "index") and (not TwigGetUrl.search or TwigGetUrl.search and (TwigGetUrl.search|lower in page.title|lower or TwigGetUrl.search|lower in page.description|lower or TwigGetUrl.search|lower in page.id|content|lower)) %}
			{% if loop.index > offset and count < config.NotePaper.front_page.limit %}
				{% set count = count + 1 %}
				{% if not is_front_page or is_front_page and not (config.NotePaper.front_page.enabled or TwigGetUrl.search) %}
					{% set pagetype = 'meta' %}
					{% set regularpage = true %}
				{% else %}
					{% set pagetype = 'page' %}
				{% endif %}
				<article>
					{% if loop.index > offset + 1 %}<hr>{% endif %}
					{% if not config.NotePaper.disable_header %}
						<header>
							{% if _context[pagetype].date %}<h4 class="date">{{ _context[pagetype].date|date("F<\\b\\r>jS") }}</h4>{% endif %}
							{% if _context[pagetype].title %}
								<h2 class="title"><a href="{{ _context[pagetype].url }}">{{ _context[pagetype].title }}</a></h2>
								{% if _context[pagetype].author %}<h3 class="author"> by: {{ _context[pagetype].author }}</h3>{% endif %}
							{% endif %}
						</header>
						{% if _context[pagetype].title %}<hr>{% endif %}
					{% endif %}
					{% if pagetype == "page" and not TwigGetUrl.search %}
						{{ page.id|content }}
					{% elseif TwigGetUrl.search %}
						{{ page.description }}
					{% else %}
						{{ content }}
					{% endif %}
				</article>
			{% endif %}
		{% endfor %}

		{# Bottom Links #}
		{% if (config.NotePaper.bottom_links.enabled and config.NotePaper.bottom_links.enabled != "blog") or (config.NotePaper.bottom_links.enabled == "blog" and meta.blog) or (is_front_page and ((config.NotePaper.front_page.enabled and not config.NotePaper.disable.front_page_buttons) or TwigGetUrl.search))%}
			{% set url = "" %}
			{% for page in pages if not page.meta.widget and not (config.NotePaper.front_page.enabled and page.id == "index") %}
				{% if loop.index == 1 %}
					{% set first_url = page.url %}
				{% elseif page.id == current_page.id %}
					{% set prev_url = buffer.url %}
				{% elseif buffer.id == current_page.id %}
					{% set next_url = page.url %}
				{% endif %}
				{% set last_url = page.url %}
				{% set buffer = {id: page.id, url: page.url} %}
				{% set url = {
					first: {
						url: first_url,
						text: config.NotePaper.bottom_links.first.text,
						image: config.NotePaper.bottom_links.first.image
					},
					prev: {
						url: prev_url,
						text: config.NotePaper.bottom_links.prev.text,
						image: config.NotePaper.bottom_links.prev.image
					},
					top: {
						url: "#",
						text: config.NotePaper.bottom_links.top.text,
						image: config.NotePaper.bottom_links.top.image
					},
					next: {
						url: next_url,
						text: config.NotePaper.bottom_links.next.text,
						image: config.NotePaper.bottom_links.next.image
					},
					last: {
						url: last_url,
						text: config.NotePaper.bottom_links.last.text,
						image: config.NotePaper.bottom_links.last.image
					},
					separator: {
						text: config.NotePaper.bottom_links.separator.text,
						image: config.NotePaper.bottom_links.separator.image
					}
				} %}
			{% endfor %}

			{# Load Default Images #}
			{% for key,link in url if link.image == "default" %}
				{% set url = url|merge({(key): link|merge({image: theme_url|slice(base_url|length) ~ "/images/buttons/button_" ~ key ~ ".png"})}) %}
			{% endfor %}

			{# Front Page URLs #}
			{% if is_front_page and (config.NotePaper.front_page.enabled or TwigGetUrl.search) %}

				{# Search Query #}
				{% if TwigGetUrl.search %}
					{% set search = 'search=' ~ TwigGetUrl.search %}
				{% endif %}

				{# Page Math #}
				{% if TwigGetUrl.page > 2 %}
					{% set prev_url = 'page=' ~ (TwigGetUrl.page - 1) %}
				{% endif %}

				{% if (TwigGetUrl.page + 1) < total_pages %}
					{% if TwigGetUrl.page < 2 %}
						{% set next_url = 'page=' ~ (TwigGetUrl.page + 2) %}
					{% else %}
						{% set next_url = 'page=' ~ (TwigGetUrl.page + 1) %}
					{% endif %}
				{% else %}
					{% set next_url = 'page=' ~ total_pages %}
				{% endif %}

				{% set last_url = 'page=' ~ total_pages %}

				{# Set URLs #}
				{% for key,link in url if key != "separator" and key != "top" %}
					{% if _context[key ~ '_url'] or search %}
						{% set operand = '?' %}
					{% endif %}
					{% if _context[key ~ '_url'] and search %}
						{% set ampersand = '&' %}
					{% endif %}
					{% set url = url|merge({(key): url[key]|merge({url: (base_url ~ operand ~ _context[key ~ '_url'] ~ ampersand ~ search) })}) %}
				{% endfor %}
			{% endif %}

			{# Search Result Math #}
			{% if TwigGetUrl.search %}
				{% if TwigGetUrl.page < 2 %}
					{% set firstresult = 1 %}
					{% set secondresult = config.NotePaper.front_page.limit %}
				{% else %}
					{% set firstresult = config.NotePaper.front_page.limit * (TwigGetUrl.page - 1)+ 1 %}
					{% set secondresult = config.NotePaper.front_page.limit * (TwigGetUrl.page - 1) + config.NotePaper.front_page.limit %}
				{% endif %}
				{% if secondresult > numresults %}
					{% set secondresult = numresults %}
				{% endif %}
				<section class="bottom_links">
				{% if numresults %}
					Showing
					{% if firstresult != secondresult %}
						{{ firstresult }} - {{ secondresult }}
					{% else %}
					{{ firstresult }}
					{% endif %}
					of {{ numresults }} results.
				{% else %}
					No Results =(
				{% endif %}
			</section>{# Make Proper Tag and Class.  Also some kind of hr or separator. #}
			{% endif %}

			{# Render Bottom Links #}
			<section class="bottom_links">
				{% for key,link in url if link.text and key != "separator" %}
					{% if loop.index == 1 %}
						{% set precount = "" %}
						{% for key,link in url if link.text and key != "separator" %}{% set precount = precount + 1 %}{% endfor %}
					{% endif %}
					{% set count = count + 1 %}
					{% if link.image %}
						<a href="{{ link.url }}"><img src="{{ base_url }}/{{ link.image }}" alt="{{ link.text }}" title="{{ link.text }}"></a>
					{% else %}
						<a href="{{ link.url }}">{{ link.text }}</a>
					{% endif %}
					{% if count < precount %}
						{% if url.separator.image %}
							<img src="{{ base_url }}/{{ url.separator.image }}" alt="{{ url.separator.text }}">
						{% else %}
							{{ url.separator.text }}
						{% endif %}
					{% endif %}
				{% endfor %}
			</section>
		{% endif %}

	</main>

	{# Disqus Comments #}
	{% if config.NotePaper.comments.type == "disqus" and (not is_front_page or config.NotePaper.comments.front) %}
		<section id="disqus_thread" class="comments">
			<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES * * */
				var disqus_shortname = '{{ config.NotePaper.comments.shortname }}';
			/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</section>

	{# Facebook Comments #}
	{% elseif config.NotePaper.comments.type == "facebook" and (not is_front_page or config.NotePaper.comments.front) %}
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<section class="fb-comments comments" data-colorscheme="{{ config.NotePaper.comments.colorscheme }}" data-href="{{ current_page.url }}" data-width="100%" data-numposts="{{ config.NotePaper.comments.limit }}" data-order-by="{{ config.NotePaper.comments.order }}"></section>
	{% endif %}

	<footer>
		{% if config.NotePaper.copyright %}<h2 class="copyright">{{ config.NotePaper.copyright }}</h2>{% endif %}
		{# Feel free to comment out this line #}<h3 class="credit"><a href="http://development.sjmcdougall.com/pico-themes/NotePaper/">NotePaper Theme</a> by <a href="malto:simon@sjmcdougall.com">Simon McDougall</a>.<br><a href="http://github.com/smcdougall/NotePaper">Contribute on GitHub</a>.</h3>
	</footer>
</body>
</html>
