{#
NotePaper v1.4 - Testing
http://development.sjmcdougall.com/pico-themes/NotePaper/

* Last Minute Features?
	* Comic Front Page Layout
	* Hide  ToC option

Notes for me:
* Archive old NotePaper
* One Pico instance on server
* Use --- instead of <a>?
* Trim Logos
	* Beware of .htaccess killing AUR downloads!
		*.htaccess override... ...
	* Update widget dates

Next Release:

* Images that resize around widgets
* Facebook Comments

* INCLUE VARIANT THEMES? (As Overrides)(Suggest Theme Override folder? for neatness)
	* Assets/css_override.css

* Search?? No idea where to begin, since this would also require url processing.

* Meta Description!
	* og:description from pico-excerpt or self shortening from content
		*Not much better than FB... maybe use meta.description only

* Custom widget types using css_override and {{ page.meta.widget }} as class
	* "Contains" for several styles (such as centered text)
* Widget not nav tag?
* Special Pages! Parse file and insert twig into main article area. (Not currently Possible?)

* Indicate current page (toc)in a non-invasive way
* Excerpt mode option (moved to plugin!!)
* Better Pagination (work with developer?)
	* For P.Pagination, Advance loop count X times before counting?

* Nav Recursive ul levels FUNCTION!! if _title!

#}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<title>{% if meta.title and not (is_front_page and config.front_page_mode) %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
		{% if meta.description %}<meta name="description" content="{{ meta.description }}">{% endif %}
		{% if meta.robots %}<meta name="robots" content="{{ meta.robots }}">{% endif %}
		{% if config.og_image %}<meta property="og:image" content="{{ base_url }}/{{ config.og_image }}">{% endif %}
		{# Replace with included version of font? #}
		<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro%7CForum%7CKalam:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css">
		{% if config.css_override %}
		<link rel="stylesheet" href="{{ base_url }}/{{ config.css_override }}" type="text/css">
		{% endif %}
	<script src="{{ theme_url }}/scripts/modernizr.js"></script>
</head>
<body>
	<header>
		<h1 class="site_title">
			<a href="{{ base_url }}">
				{% if config.site_logo %}
					<img src="{{ base_url }}/{{ config.site_logo }}" alt="{{ site_title }}">
				{% else %}
					{{ site_title }}
				{% endif %}
			</a>
		</h1>
	</header>
	<main>

		{# Widgets Sidebar #}
		<section class="widgets">
			<nav>
				{% if config.toc %}<h2>{{ config.toc }}</h2>{% endif %}
				<ul>
					{% for page in pages if not page.meta.widget and not page.meta.blog and not (config.front_page_mode and page.id == "index") %}
						<li>
							<a {% if page.id == current_page.id %}class="current_page"{% endif %} href="{{ page.url }}">{{ page.title }}</a>
							{# meta.toc processing code #}
							{% if page.id == current_page.id and page.meta.toc %}
								<ul>
									{% for anchor, name in page.meta.toc %}
										<li>
											{% if name._title %}
												<a href="#{{ anchor }}">{{ name._title }}</a>
												<ul>
													{% for sub_anchor, sub_name in name if sub_anchor != "_title" %}
														<li><a href="#{{ sub_anchor }}">{{ sub_name }}</a></li>
													{% endfor %}
												</ul>
											{% else %}
												<a href="#{{ anchor }}">{{ name }}</a>
											{% endif %}
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</nav>

			{% for page in pages if page.meta.widget and page.meta.widget != "Disabled" %}
				{% if page.meta.widget == "Sticky" %}{% set sticky_num = sticky_num + 1 %}{% endif %}
				<nav class="{% if page.meta.widget == "Sticky" and sticky_num is odd %}odd {% endif %}{% if page.meta.widget == "Doodle" %}doodle{% endif %}">
					{{ page.id|content }}
				</nav>
			{% endfor %}
		</section>

	{# Front Page Code #}
	{% if is_front_page and config.front_page_mode %}
		{% if not config.front_page_limit %}
			{% set config = config|merge({front_page_limit:5}) %}
		{% endif %}

		{% for page in pages if not page.meta.widget and not stop and not (config.front_page_mode and page.id == "index") %}
			<article>
				{% if loop.index > 1 %}<hr class="separator">{% endif %}
				{% if page.date %}<h4 class="date">{{ page.date|date("F<\\b\\r>jS") }}</h4>{% endif %}
				{% if page.title %}
					<h2 class="title"><a href="{{page.url}}">{{ page.title }}</a></h2>
					{% if page.author %}<h3 class="author"> by: {{ page.author }}</h3>{% endif %}
					<hr>
				{% endif %}
				{{ page.id|content }}
				{% if loop.index == config.front_page_limit %}{% set stop = true %}{% endif %}
			</article>
		{% endfor %}

	{# Regular Page Code #}
		{% else %}

			<article>
				{% if meta.date %}<h4 class="date">{{ meta.date|date("F<\\b\\r>jS") }}</h4>{% endif %}
				{% if meta.title %}
					<h2 class="title"><a href="{{meta.url}}">{{ meta.title }}</a></h2>
					{% if meta.author %}<h3 class="author"> by: {{ meta.author }}</h3>{% endif %}
					<hr>
				{% endif %}
				{{ content }}
			</article>

			{# Bottom Links Code #}
			{% if (config.bottom_links and config.bottom_links != "Blog") or (config.bottom_links == "Blog" and meta.blog) %}
				{% set url = "" %}
				{% for page in pages if not page.meta.widget and not (config.front_page_mode and page.id == "index") %}
					{% if loop.index == 1 %}
						{% set first_url = page.url %}
					{% elseif page.id == current_page.id %}
						{% set prev_url = buffer.url %}
					{% elseif buffer.id == current_page.id %}
						{% set next_url = page.url %}
					{% endif %}
					{% set last_url = page.url %}
					{% set buffer = {id: page.id, url: page.url} %}
					{% set url = [{url: first_url, text: config.bottom_links_first_text, image: config.bottom_links_first_image},{url: prev_url, text: config.bottom_links_prev_text, image: config.bottom_links_prev_image},{url: "#", text: config.bottom_links_top_text, image: config.bottom_links_top_image},{url: next_url, text: config.bottom_links_next_text, image: config.bottom_links_next_image},{url: last_url, text: config.bottom_links_last_text, image: config.bottom_links_last_image}] %}
				{% endfor %}

				<section class="bottom_links">
					{% for link in url if link.text %}
						{% if loop.index == 1 %}
							{% set precount = "" %}
							{% for link in url if link.text %}{% set precount = precount + 1 %}{% endfor %}
						{% endif %}
						{% set count = count + 1 %}
						{% if link.image %}
							<a href="{{ link.url }}"><img src="{{ base_url }}/{{ link.image }}" alt="{{ link.text }}" title="{{ link.text }}"></a>
						{% else %}
							<a href="{{ link.url }}">{{ link.text }}</a>
						{% endif %}
						{% if count < precount %}
							{% if config.bottom_links_separator_image %}
								<img src="{{ base_url }}/{{ config.bottom_links_separator_image }}" alt="{{ config.bottom_links_separator }}">
							{% else %}
								{{ config.bottom_links_separator }}
							{% endif %}
						{% endif %}
					{% endfor %}
				</section>
			{% endif %}
		{% endif %}

	</main>

	{# Disqus Code #}
		{% if config.disqus and not is_front_page or "front" in config.disqus %}
			<section id="disqus_thread">
			<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES * * */
				var disqus_shortname = '{{ config.disqus_shortname }}';
			/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</section>
		{% endif %}

	<footer>
		{% if config.copyright %}<h2 class="copyright">{{ config.copyright }}</h2>{% endif %}
		{# Feel free to comment out this line #} <h3 class="credit"><a href="http://development.sjmcdougall.com/pico-themes/NotePaper/">NotePaper Theme</a> by <a href="malto:simon@sjmcdougall.com">Simon McDougall</a></h3>
	</footer>
</body>
</html>
